ul{ list-style-type: none; margin:0px; padding:0px;}

body{ font-family:"Arial"; font-size:0.75em; margin:0; }

#pmcanvas{ width: 800px; height:566px; background-color:gray; padding:0.5%;}

#header li{ float:left; height:4%; margin:0 0 0.5% 0;}
#header h1{ font-size:1.16em; margin:1% 0 0 ;} /*1em = 12pt = 16px = 100%*/
#gp{ width:40%; }
#pitch{ width:60%; }

#area{ clear:both; }
#area h1{ font-size: 1.2em; margin:0px; padding:0px; }

#footer{ clear:both; margin:0.5% 0 0 0; }
#autor, #metodologia{position:relative;}
#autor{ left:-59.8%; font-size:0.72em; margin:0.6% 0 0 0; float:left;}
#metodologia{ margin:0.4% 0 0 0; font-size:1.2em; font-weight:bold; float:right;}


/*canvas's align */
.alignareas{ float:left; }

/* formatation pattern for each canvas's area
solver width: {[100-(0.5*4)]/5} - 1 */
.formatarea{ width:18.6%; background-color:white; padding:0.5%; position:relative;}

/*formatation of height canvas's area*/
/*1-> for top's*/
#just , #prod{ height:25.5%; }
#stake, #premissas, #riscos{ height:32.5% }

/*2-> for middle's*/
#obj{ height:19.5%; position:relative; }
#equipe, #entregas{ height:38.5%; } /*total 81.5 - era 55% - tirei 12*/
#requisitos{ height:62%;}
#tempo{ height:34%; }

/*3-> for bottom's*/
#beneficios{ height:40.5%; position:relative; left:-40.2%}
#restricoes{ height:14.4%; left:40.2%; width:38.7%; position:relative; }
#custos{ height:18.8%; position:relative; left:40.2%;}


/*margin right of each canva's area*/
.marginrightarea{ margin:0 0.5% 0 0; }

/*margin top and bottom for middle's area*/
.margintopandbottomarea{ margin-top:0.5% ; margin-bottom:0.5%; }

.margintoparea{ margin-top:0.5% ; }

